<div class="component-container">
    <h2>Problems</h2>

    <!-- Display the problems table if loaded -->
    <ng-container *ngIf="ready">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
            <!-- Define table columns -->
            <ng-container matColumnDef="onset_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Onset Date</th>
                <td mat-cell *matCellDef="let element">{{ element.onsetDtTm | date : 'MM/dd/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="problem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Problem</th>
                <td mat-cell *matCellDef="let element">{{ element.probSourceString }}</td>
            </ng-container>
            <ng-container matColumnDef="problem_identifier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Problem ID</th>
                <td mat-cell *matCellDef="let element">{{ element.probSourceIdentifier }}</td>
            </ng-container>
    
            <!-- Define rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </ng-container>

    <!-- Paginator -->
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>